{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load imagefit %}

<!-- Extra Styles -->
{% block extrastyles %}
    <!-- Flickity -->
    <link rel="stylesheet" href="{% static 'css/flickity.min.css' %}">
{% endblock %}

{% block active-home %}active{% endblock %}

{% block title %}Home{% endblock %}

{% block menu %}
    {% include 'portfolio_menu.html' %}
{% endblock %}

{% block body %}
    <!-- START: Counters -->
    <div class="nk-box text-white text-center">
        <div class="bg-image bg-image-parallax" style="background-image: url('{% static 'images/image-5.jpg' %}');"></div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="nk-counter">
                    <div class="bg-color bg-dark-1 op-7"></div>
                    <div class="nk-gap-3"></div>
                    <div class="nk-count fs-45">83</div>
                    <h3 class="nk-counter-title h4">A journey</h3>
                    <div class="nk-gap-3"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-counter">
                    <div class="bg-color bg-dark-1 op-4"></div>
                    <div class="nk-gap-3"></div>
                    <div class="nk-count fs-45">1589</div>
                    <h3 class="nk-counter-title h4">to achieve</h3>
                    <div class="nk-gap-3"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-counter">
                    <div class="bg-color bg-main-1 op-5"></div>
                    <div class="nk-gap-3"></div>
                    <div class="nk-count fs-45">37</div>
                    <h3 class="nk-counter-title h4">greatness</h3>
                    <div class="nk-gap-3"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Counters -->

    <!-- START: Features -->
    <div class="nk-box">
        <div class="nk-gap-5"></div>
        <div class="nk-gap-1"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <img src="{% static 'images/logoblack.png' %}" alt="Khaki HTML Template" width="90">
                    <div class="nk-gap-3"></div>
                    <div class="lead">Our ultimate goal is to foster the economy's future market leaders and to create an investment-savvy community.</div>
                </div>
            </div>
            <div class="nk-gap-5"></div>
            <div class="row vertical-gap">
                <div class="col-md-4">
                    <div class="nk-ibox-4">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                            <span class="ion-ios-infinite-outline"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title fs-22">Accountability</h3>
                            Establishing solid goals and providing feedback along the way helps our tem to recognize the importance of performing up to expectations.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-ibox-4">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                            <span class="ion-ios-color-wand-outline"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title fs-22">Trustworthiness</h3>
                            Creating a trustful environment is essential in the development of every partnership and collaboration that we become part of.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-ibox-4">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                            <span class="ion-ios-people-outline"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title fs-22">Professionalism</h3>
                            Our team gives anything less than their best and strives to satisfy your requirements with their expertise and knowledge.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-1"></div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Features -->

    <!-- START: Why Choose Us -->
    <div class="nk-box bg-dark-2 text-white">
        <div class="nk-gap-5"></div>
        <div class="container">
            <div class="nk-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active fs-17" href="#tabs-1-1" role="tab" data-toggle="tab">Why</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-17" href="#tabs-1-2" role="tab" data-toggle="tab">Choose</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-17" href="#tabs-1-3" role="tab" data-toggle="tab">Us</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="tabs-1-1">
                        <div class="nk-gap-3"></div>
                        <div class="row vertical-gap align-items-center">
                            <div class="col-md-7">
                                <img src="{% static 'images/Webp.net-resizeimage.jpg' %}" alt="" class="nk-img">
                            </div>
                            <div class="col-md-5">
                                <h2 class="nk-title h3">Why Choose Us</h2>
                                <div class="nk-gap"></div>
                                <p class="lead"> Thanks to our well- established reputation owing to our high-qualified staff, distinguished for their expertise, reliability, as well as their way of operating on authentic financial projects, Elite International Group has a competitive advantage, which has empowered us to be the first and the optimal option by various businesses.</p>
                                <div class="nk-gap-1"></div>
                                <h3 class="h5">What we do</h3>
                                <p>Elite international Group is one of the largest investment groups, having hundreds of successful partnerships with widely known companies locally, regionally and internationally.</p>
                                <small>We do our best to foster the economy's future market leaders.</small>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabs-1-2">
                        <div class="nk-gap-3"></div>

                        <div class="row vertical-gap align-items-center">
                            <div class="col-md-5">
                                <div class="nk-progress nk-progress-xs nk-count" data-progress="91" data-progress-mask="{$}%">
                                    <div class="nk-progress-title">Innovative</div>
                                    <div class="nk-progress-line bg-dark-4">
                                        <div style="width: 91%;" class="bg-white">
                                            <div class="nk-progress-percent">91%</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-progress nk-progress-xs nk-count" data-progress="86" data-progress-mask="{$}%">
                                    <div class="nk-progress-title">Accountability</div>
                                    <div class="nk-progress-line bg-dark-4">
                                        <div style="width: 86%;" class="bg-white">
                                            <div class="nk-progress-percent">86%</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-progress nk-progress-xs nk-count" data-progress="100" data-progress-mask="{$}%">
                                    <div class="nk-progress-title">Responsibility</div>
                                    <div class="nk-progress-line bg-dark-4">
                                        <div style="width: 100%;" class="bg-white">
                                            <div class="nk-progress-percent">100%</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-progress nk-progress-xs nk-count" data-progress="100" data-progress-mask="{$}%">
                                    <div class="nk-progress-title">Trustworthiness</div>
                                    <div class="nk-progress-line bg-dark-4">
                                        <div style="width: 100%;" class="bg-white">
                                            <div class="nk-progress-percent">100%</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-progress nk-progress-xs nk-count" data-progress="97" data-progress-mask="{$}%">
                                    <div class="nk-progress-title">Professionalism</div>
                                    <div class="nk-progress-line bg-dark-4">
                                        <div style="width: 97%;" class="bg-white">
                                            <div class="nk-progress-percent">97%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="nk-plain-video" data-video="https://vimeo.com/108018156"></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabs-1-3">
                        <div class="nk-gap-3"></div>
                        <div class="row vertical-gap">
                            {% for member in board_members|slice:'4' %}
                                <div class="col-md-6 col-lg-3">
                                    <div class="nk-image-box-1-a">
                                        <a href="{% url 'board_member_detail' slug=member.slug %}" target="_blank" class="nk-image-box-link"></a>
                                        <img src="{{ member.image.url|resize:'500x750,C' }}" alt="">
                                        <div class="nk-image-box-overlay nk-image-box-center">
                                            <div>
                                                <h3 class="nk-title text-white h5">{{ member.get_member_full_name|title }}</h3>
                                                <h4 class="nk-sub-title text-white op-7">{{ member.position|title }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="nk-gap-2"></div>
                        <div class="text-center">
                            <a href="{% url 'management' %}" class="nk-btn nk-btn-x2 nk-btn-rounded nk-btn-color-orange">View All Team</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Why Choose Us -->

    <!-- START: Blog -->
    <div class="nk-box">
        <div class="nk-gap-5"></div>
        <div class="nk-gap-1"></div>
        <div class="container">

            <div class="text-center">
                <h3 class="nk-title-back">Our Blog</h3>
                <h2 class="nk-title">Recent Posts</h2>
            </div>
            <div class="nk-gap-5"></div>
            <div class="nk-blog-list">
                {% for recent_post in recent_post_list|slice:'2' %}
                    <!-- START: Post -->
                    <div class="nk-blog-post">
                        <div class="row vertical-gap">
                            <div class="col-lg-5">
                                <a href="{% url 'blog_detail' slug=recent_post.slug %}" target="_blank">
                                    <img src="{{ recent_post.image.url|resize:'800x533,C' }}" alt="" class="nk-img-stretch">
                                </a>
                            </div>
                            <div class="col-lg-7">
                                <div class="nk-post-meta nk-post-meta-top pb-0">
                                    <div class="nk-post-date nk-post-meta-right">
                                        {{ recent_post.created_at|naturalday }}
                                        <span class="nk-post-by">by <a href="#">{{ recent_post.user.get_full_name }}</a></span>
                                    </div>
                                </div>
                                <div class="nk-post-category">
                                    In <a href="#">{{ recent_post.category.name }}</a>
                                </div>
                                <h2 class="nk-post-title h3"><a href="{% url 'blog_detail' slug=recent_post.slug %}" target="_blank">{{ recent_post.title|truncatechars:40 }}</a></h2>

                                <div class="nk-post-text">
                                    <p>{{ recent_post.description|safe|truncatechars:250 }}</p>
                                </div>

                                <div class="nk-post-continue text-left">
                                    <a target="_blank" href="{% url 'blog_detail' slug=recent_post.slug %}">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- END: Post -->
                {% endfor %}
                <div class="text-center">
                    <a href="{% url 'blog' %}" target="_blank" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-rounded nk-btn-color-dark-2">
                    Read All
                </a>
                </div>
            </div>
        </div>
        <div class="nk-gap-1"></div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Blog -->

    <!-- START: We Are... -->
    <div class="nk-box bg-dark-1 text-white text-center">
        <div class="bg-image bg-image-parallax op-1" style="background-image: url('{% static 'images/img02.jpg' %}');"></div>
        <div class="nk-gap-5"></div>
        <div class="nk-gap-5"></div>
        <div class="container">
            <h2 class="nk-title h1 mb-0">
                We Are
                <span class="db hidden-sm-up"></span>
                <span class="nk-typed bg-white text-dark-1 pl-8 pr-8 pt-5 pb-5 m-5 dib" data-back-delay="2000">
                    <span>Creative</span>
                    <span>Professional</span>
                    <span>Talented</span>
                    <span>Young</span>
                    <span>Great</span>
                </span>
                <span class="db hidden-sm-up"></span>
                People
            </h2>
        </div>
        <div class="nk-gap-5"></div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: We Are... -->

    <!-- START: Testimonials -->
    <div class="nk-box bg-gray-1">
        <div class="nk-gap-5"></div>
        <div class="nk-gap-1"></div>
        <div class="container">
            <div class="nk-carousel" data-autoplay="8000">
                <div class="nk-carousel-inner">
                    {% for testimonial in testimonials %}
                        <div>
                            <div>
                                <blockquote class="nk-testimonial-2">
                                    <div class="nk-testimonial-photo" style="background-image: url('{{ testimonial.image.url|resize:'500x500,C' }}');"></div>
                                    <div class="nk-testimonial-body">
                                        <em>"{{ testimonial.quote }}"</em>
                                    </div>
                                    <div class="nk-testimonial-name nk-carousel-item-name h4">{{ testimonial.author|title }}</div>
                                    <div class="nk-testimonial-source">{{ testimonial.description }}</div>
                                </blockquote>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="nk-carousel-prev">
                    <div class="nk-carousel-arrow-name">
                        <!-- There Will be a Name of Testimonial Author -->
                    </div>
                    Previous
                    <span class="nk-icon-arrow-left"></span>
                </div>
                <div class="nk-carousel-next">
                    <div class="nk-carousel-arrow-name">
                        <!-- There Will be a Name of Testimonial Author -->
                    </div>
                    Next
                    <span class="nk-icon-arrow-right"></span>
                </div>
            </div>
        </div>
        <div class="nk-gap-1"></div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Testimonials -->

    <!-- START: New Era -->
    <div class="nk-box text-center">
        <div class="nk-gap-5"></div>
        <div class="nk-gap-1"></div>
        <img src="{% static 'images/ruthson-zimmerman-233520.jpg' %}" class="nk-img" alt="">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="nk-title">We contribute to enhance the society</h2>
                    <h3 class="nk-sub-title">Have the chance to adjust the surroundings.</h3>
                    <div class="nk-gap-2"></div>
                    <p>By exploring market opportunities, we create economic values in various industries locally, regionally and beyond. Elite international is in a process of expansion through exploration of new opportunities in other market segments using acquired market knowledge and professionalism.</p>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: New Era -->

    <!-- START: Partners -->
    <div class="nk-box bg-dark-3 text-center">
        <div class="nk-gap-1"></div>
        <div class="container">
            <div class="nk-carousel-2 nk-carousel-x5 nk-carousel-no-margin nk-carousel-all-visible" data-autoplay="5000">
                <div class="nk-carousel-inner">
                    {% for partner in partners %}
                        <div>
                            <div>
                                <a href="{% url 'partner_detail' slug=partner.slug %}" target="_blank">
                                    <img src="{{ partner.image.url|resize:'500x333,C' }}" alt="" class="nk-img-fit">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="nk-gap-1"></div>
    </div>
    <!-- END: Partners -->
{% endblock %}

<!-- Extra Scripts -->
{% block extrascripts %}
    <!-- Flickity -->
    <script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
    <!-- Typed.js -->
    <script src="{% static 'js/typed.min.js' %}"></script>
{% endblock %}