{% extends 'base.html' %}
{% load static %}
{% load imagefit %}

{% block title %}Gallery{% endblock %}

<!-- Extra Styles -->
{% block extrastyles %}
    <style>
        .bar {
            background-color: rgb(255, 255, 255) !important;
        }
    </style>
{% endblock %}

{% block extracontent %}
    <!-- START: Page Border -->
        <!--
        Additional classes:
            .nk-page-border-md
            .nk-page-border-sm
    -->
    <div class="nk-page-border nk-page-border-sm">
        <div class="nk-page-border-t"></div>
        <div class="nk-page-border-r"></div>
        <div class="nk-page-border-b"></div>
        <div class="nk-page-border-l"></div>
    </div>
    <!-- END: Page Border -->
{% endblock %}

{% block navigation %}
    <nav class="nk-navbar nk-navbar-side nk-navbar-left nk-navbar-lg nk-navbar-align-center nk-navbar-overlay-content nk-navbar-light" id="nk-navbar-left">
        <div class="nano">
            <div class="nano-content">
                <div class="nk-nav-table">
                    <div class="nk-nav-row">
                        <a href="{% url 'home' %}" class="nk-nav-logo">
                            <img src="{% static 'images/logoblack.png' %}" alt="" width="100">
                        </a>
                    </div>
                    <!--
                    Additional Classes:
                        .nk-nav-row-top
                        .nk-nav-row-center
                        .nk-nav-row-bottom
                    -->
                    <div class="nk-nav-row nk-nav-row-full nk-nav-row-center">
                        <ul class="nk-nav" data-nav-mobile="#nk-nav-mobile">
                            <li class="{% block active-home %}{% endblock %}">
                               <a href="{% url 'home' %}">
                               Home
                               </a>
                            </li>
                            <li class=" nk-drop-item">
                               <a href="#">
                               Elite Group
                               </a>
                               <ul class="dropdown">
                                  <li class="{% block active-about %}{% endblock %}">
                                    <a href="{% url 'about' %}">
                                    About Us
                                    </a>
                                  </li>
                                  <li class="{% block active-history %}{% endblock %}">
                                     <a href="{% url 'history' %}">
                                     History
                                     </a>
                                  </li>
                                  <li class="{% block active-mission %}{% endblock %}">
                                     <a href="{% url 'mission' %}">
                                     Mission/Vision and Values
                                     </a>
                                  </li>
                                  <li class="{% block active-coorporate %}{% endblock %}">
                                     <a href="{% url 'coorporate' %}">
                                     Corporate Governance
                                     </a>
                                  </li>
                                  <li class="{% block active-management %}{% endblock %}">
                                     <a href="{% url 'management' %}">
                                     Management Board
                                     </a>
                                  </li>
                                  <li class="{% block active-group-socities %}{% endblock %}">
                                     <a href="{% url 'group_socities' %}">
                                     Group Societies
                                     </a>
                                  </li>
                                  <li class="{% block active-social-responsibility %}{% endblock %}">
                                     <a href="{% url 'social_responsibility' %}">
                                     Social Responsibility
                                     </a>
                                  </li>
                               </ul>
                            </li>
                            <li class="nk-drop-item">
                               <a href="#">
                               Career
                               </a>
                               <ul class="dropdown">
                                  <li class="{% block active-human-resources %}{% endblock %}">
                                     <a href="{% url 'human_resources' %}">
                                     Human Resources
                                     </a>
                                  </li>
                                  <li class="{% block active-students-practice %}{% endblock %}">
                                     <a href="{% url 'students_practice' %}">
                                     Practice for Students
                                     </a>
                                  </li>
                                  <li class="{% block active-employment-opportunities %}{% endblock %}">
                                     <a href="{% url 'employment_opportunities' %}">
                                     Employment Opportunities
                                     </a>
                                  </li>
                               </ul>
                            </li>
                            <li class="nk-drop-item {% block active-portfolio %}{% endblock %}">
                               <a href="{% url 'portfolio' %}">
                               Portfolio
                               </a>
                               <ul class="dropdown">
                                    {% for category in category_list %}
                                        <li class=" nk-drop-item">
                                            <a href="{% url 'category_detail_portfolio' slug=category.slug %}">
                                                {{ category.name|title }}
                                            </a>
                                            <ul class="dropdown">
                                                {% for project in category.portfolio_set.all %}
                                                    <li>
                                                       <a href="{% url 'portfolio_detail' slug=project.slug %}">
                                                            {{ project.title|title|truncatechars:25 }}
                                                       </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                               </ul>
                            </li>
                            <li class="active">
                               <a href="{% url 'image_gallery' %}">
                               Gallery
                               </a>
                            </li>
                            <li class="{% block active-blog %}{% endblock %}">
                               <a href="{% url 'blog' %}">
                               Blog
                               </a>
                            </li>
                            <li class="{% block active-contact %}{% endblock %}">
                               <a href="{% url 'contact' %}">
                               Contact
                               </a>
                            </li>
                        </ul>
                    </div>
                    <div class="nk-nav-row">
                        <div class="nk-nav-social">
                            <ul>
                                <li><a href="#" class="no-link-effect"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/eliteinternational_al/" class="no-link-effect" target="_blank"><i class="ion-social-instagram-outline" target="_blank"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/11105197/" class="no-link-effect" target="_blank"><i class="ion-social-linkedin-outline" target="_blank"></i></a></li>
                                <li><a href="https://www.facebook.com/eliteinternational.al/?ref=br_rs" class="no-link-effect" target="_blank"><i class="ion-social-facebook"></i></a></li>
                            </ul>
                            <footer>
                                <a href="http://nkdev.info" target="_blank">Elite International</a> &copy; {% now "Y" %}. <br> All rights reserved
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <!-- START: Navigation Toggler -->
    <ul class="nk-nav-toggler-right">
    </ul>

    <ul class="nk-nav-toggler-left">
        <li class="single-icon hidden-lg-up">
            <a href="#" data-nav-toggle="#nk-nav-mobile" class="bg-white text-dark-1">
                <span class="nk-icon-burger">
                    <span class="nk-t-1"></span>
                    <span class="nk-t-2"></span>
                    <span class="nk-t-3"></span>
                </span>
            </a>
        </li>
    </ul>

    <!-- END: Navigation Toggler -->
    <!--
    START: Navbar Mobile

    Additional Classes:
        .nk-navbar-left-side
        .nk-navbar-right-side
        .nk-navbar-lg
        .nk-navbar-overlay-content
        .nk-navbar-light
    -->
    <div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-left-side nk-navbar-overlay-content nk-navbar-light hidden-lg-up">
        <div class="nano">
            <div class="nano-content">
                <div class="nk-nav-table">
                    <div class="nk-nav-row">
                        <a href="index.html" class="nk-nav-logo">
                            <img src="{% static 'images/logoblack.png' %}" alt="" width="70">
                        </a>
                    </div>
                    <div class="nk-nav-row nk-nav-row-full nk-nav-row-top">
                        <div class="nk-navbar-mobile-content">
                            <ul class="nk-nav">
                                <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Navbar Mobile -->
{% endblock %}

{% block banner %}
    <div class="nk-header-title nk-header-title-parallax nk-header-title-parallax-opacity">
        <div class="bg-image">
            <div style="background-image: url('{% static 'images/lilly-rum-250927.jpg' %}');"></div>
        </div>
        <div class="nk-header-table">
            <div class="nk-header-table-cell">
                <div class="container">
                    <h1 class="nk-title"></h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="nk-isotope nk-isotope-gap-small nk-popup-gallery mt-10 mb-10 nk-isotope-3-cols">
        {% for item in gallery_items %}
            <div class="nk-isotope-item">
                <div class="nk-image-box-1">
                    <a href="{{ item.image.url|resize:'700x1050,C' }}" class="nk-gallery-item" data-size="1920x1280">
                        <img src="{{ item.image.url }}" alt="">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

<!-- Extra Scripts -->
{% block extrascripts %}
    <!-- imagesLoaded -->
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>

    <!-- Isotope -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
{% endblock %}