.custom-position {
    top: 50px;
}

.help-block {
    margin-top: 6px;
    padding: 3px 9px;
    font-size: 12px;
    border-radius: 4px;
}

.nk-btn-color-orange {
    background-color: #f05a28;
    border-color: #f05a28;
    border-style: solid;
}

.nk-btn-color-orange:hover, .nk-btn-color-orange.hover {
    background-color: #ff8564;
    border-color: #ff8564;
}

.nk-btn-color-orange:active, .nk-btn-color-orange.active {
    background-color: #ff8564;
    border-color: #ff8564;
}

.nk-btn-color-orange-2 {
    background-color: #F96816;
    border-color: #F96816;
    border-style: solid;
}

.nk-btn-color-orange-2:hover, .nk-btn-color-orange-2.hover {
    background-color: #FF7B39;
    border-color: #FF7B39;
}

.nk-btn-color-orange-2:active, .nk-btn-color-orange-2.active {
    background-color: #FF7B39;
    border-color: #FF7B39;
}
.bg-orange {
    background-color: #FF7B39 !important;
}

.bg-main-6 {
    background-color: #f9ded8 !important;
}

.elite-font {
    font-family: 'Playball', cursive;
    font-size: 27px;
}

.alert-message {
    position: fixed !important;
    z-index: 99999 !important;
    top: 0;
    width: 100%;
    left: 0;
    color: #fff;
    text-align: center;
}

.modal-loader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(39, 46, 56, 0.7);
    filter: alpha(opacity=80);
    z-index: 1053;
}
.modal-loader-img {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #f96816;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

#CookielawBanner {
    bottom: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 10px 15px;
}

.custom-font {
    font-size: 12px;
}

.alert>ul {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0;
}