{% extends 'base.html' %}
{% load static %}
{% load imagefit %}
{% load humanize %}

{% block active-blog %}active{% endblock %}

{% block title %}{{ tag.name }}{% endblock %}

{% block menu %}
    {% include 'portfolio_menu.html' %}
{% endblock %}

{% block banner %}
    <div class="nk-header-title nk-header-title-parallax nk-header-title-parallax-opacity bg-white text-dark-1">
        <div class="bg-image op-5">
            <div style="background-image: url('{% static 'images/image-28.jpg' %}');"></div>
        </div>
        <div class="nk-header-table">
            <div class="nk-header-table-cell">
                <div class="container">
                    <h1 class="nk-title">{{ tag.name }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="nk-gap-4"></div>

                <!-- START: Posts List -->
                <div class="nk-blog-isotope nk-isotope nk-isotope-gap nk-isotope-3-cols">

                    {% for post in post_list %}
                        <!-- START: Post -->
                        <div class="nk-isotope-item">
                            <div class="nk-blog-post">
                                <div class="nk-post-category">
                                    In <a href="#">{{ post.category.name }}</a>
                                </div>
                                <h2 class="nk-post-title ellipsis h4"><a href="{% url 'blog_detail' slug=post.slug %}" target="_blank">{{ post.title }}</a></h2>

                                <a href="{% url 'blog_detail' slug=post.slug %}" target="_blank">
                                    <img src="{{ post.image.url }}" alt="" class="nk-img-stretch">
                                </a>

                                <div class="nk-post-text">
                                    <p>{{ post.description|safe|truncatechars:250 }}</p>
                                </div>

                                <div class="nk-post-meta">
                                    <div class="nk-post-meta-right">
                                        <span class="nk-post-by">by <a href="#">{{ post.user.get_full_name }}</a></span>
                                    </div>
                                    <div class="nk-post-date">
                                        {{ post.created_at|naturalday }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END: Post -->
                    {% endfor %}

                </div>
                <!-- END: Posts List -->

                {% if is_paginated %}
                    <!-- START: Pagination 4 -->
                    <div class="nk-pagination nk-pagination-center">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="nk-pagination-prev">
                                <span class="nk-icon-arrow-left"></span>
                            </a>
                        {% else %}
                            <a href="#" class="nk-pagination-prev disabled">
                                <span class="nk-icon-arrow-left"></span>
                            </a>
                        {% endif %}
                        <nav>
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <a href="#" class="nk-pagination-current">{{ i }} <span class="sr-only">(current)</span></a>
                                {% else %}
                                    <a href="?page={{ i }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                        </nav>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="nk-pagination-next">
                                <span class="nk-icon-arrow-right"></span>
                            </a>
                        {% else %}
                            <a href="#" class="nk-pagination-next disabled">
                                <span class="nk-icon-arrow-right"></span>
                            </a>
                        {% endif %}
                    </div>
                    <!-- END: Pagination 4 -->
                {% endif %}
                <div class="nk-gap-4"></div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- Extra Scripts -->
{% block extrascripts %}
    <!-- imagesLoaded -->
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>

    <!-- Isotope -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
{% endblock %}