{% load crispy_forms_tags %}
{% load static %}

<!-- Extra Styles -->
{% block extrastyles %}
    <style>
        .alert-message {
            position: relative !important;
            border-radius: 6px;
        }
    </style>
{% endblock %}

<div class="modal-content">
    <div class="modal-header border-bottom-0">
        <h4 class="modal-title nk-title" id="myModalLabel">{{ job.title|title }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="ion-android-close"></span>
        </button>
    </div>
    <div class="modal-body">
        {% include 'ajax_messages.html' %}
        <form method="POST" class="apply-job-form" enctype="multipart/form-data" data-slug="{{ job.slug }}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="g-recaptcha mb-10" data-sitekey="6LdPcTUUAAAAAEUz-tNvLT3AIL18m9TgGwRxdNg_"></div>
            <button type="submit" class="nk-btn nk-btn-block nk-btn-rounded btn-info">Apply</button>
        </form>
    </div>
</div>

<!-- Extra Scripts -->
{% block extrascripts %}
    <script src="{% static 'js/api.js' %}"></script>
{% endblock %}