{% extends 'base.html' %}
{% load static %}
{% load imagefit %}

{% block active-about %}active{% endblock %}

{% block title %}About Us{% endblock %}

{% block menu %}
    {% include 'portfolio_menu.html' %}
{% endblock %}

{% block banner %}
   <!-- START: Header Title -->
    <!--
    Additional Classes:
        .nk-header-title-sm
        .nk-header-title-md
        .nk-header-title-lg
        .nk-header-title-xl
        .nk-header-title-full
        .nk-header-title-parallax
        .nk-header-title-parallax-opacity
    -->
        <div class="nk-header-title nk-header-title-md nk-header-title-parallax nk-header-title-parallax-opacity">
            <div class="bg-image op-5">
                <div style="background-image: url('{% static 'images/rawpixel-com-250087.jpg' %}');"></div>
            </div>
            <div class="nk-header-table">
                <div class="nk-header-table-cell">
                    <div class="container">
                        <h1 class="nk-title">We Are a Team</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Header Title -->
{% endblock %}

{% block body %}
    <!-- START: Overview -->
    <div class="nk-box">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2 class="nk-title">Creative People</h2>
                    <p class="lead">
                        Our team strives to not only think outside the box, but to discover totally new dimensions. This means that inventive solutions are guaranteed.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'images/image-21 (1).jpg' %}" alt="" class="nk-img">
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Overview -->

    <!-- START: Video Block 3 -->
    <div class="nk-box bg-dark-1 text-white">
        <div class="bg-video-row row">
            <div class="col-lg-6">
                <div class="bg-video" data-video="https://www.youtube.com/watch?v=ab0TSkLe-E0"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 push-lg-7">
                    <div class="nk-gap-5"></div>
                    <h2 class="h1 nk-title">Our Journey</h2>
                    <h3 class="nk-sub-title">The purposes and objectives of our Group</h3>
                    <div class="nk-gap"></div>
                    <p>Our business plans are aimed towards the development of unique ideas by providing prosperity for the community and further growth of our group. We have designed our investments towards providing quality assurance and development. As we strive to establish quality standards in the industry, our products, services, and management companies work daily to improve processes.</p>
                    <p>Elite International's performance constantly increases and reinforces relationships we have with customers, partners, communities and other interested groups.</p>
                    <div class="nk-gap-5"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Video Block 3 -->

    <!-- START: Members -->
    <div class="nk-box">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row vertical-gap">
                {% for member in board_members|slice:'4' %}
                    <div class="col-md-6 col-lg-3">
                        <div class="nk-image-box-1">
                            <a href="{% url 'board_member_detail' slug=member.slug %}" target="_blank" class="nk-image-box-link"></a>
                            <img src="{{ member.image.url|resize:'500x750,C' }}" alt="">
                        </div>
                        <div class="nk-gap"></div>
                        <h3 class="nk-title h4">{{ member.get_member_full_name|title }}</h3>
                        <h4 class="nk-sub-title text-dark-1 op-5">{{ member.position|title }}</h4>
                    </div>
                {% endfor %}
            </div>
            <div class="nk-gap-2"></div>
            <div class="text-center">
                <a href="{% url 'management' %}" class="nk-btn nk-btn-rounded nk-btn-color-orange-2">View All Team</a>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Members -->

    <!-- START: Image Block 4 -->
    <div class="nk-box text-center text-white bg-dark-1">
        <div class="bg-image bg-image-parallax op-5" style="background-image: url('{% static 'images/austin-chan-275638.jpg' %}');"></div>
        <div class="nk-gap-5"></div>/
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="h1 nk-title">Elite International takes your company to the next level</h2>
                    <h3 class="nk-sub-title">We bring your business ideas to life</h3>
                    <div class="nk-gap"></div>
                    <p>Through our skills, resources and firmness we have the adequate potential to achieve greatness and accomplish complex projects.</p>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Image Block 4 -->

    <!-- START: Partners -->
    <div class="nk-box text-center">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-6">
                    <div class="nk-box-2 nk-box-line">
                        <a href="#">
                            <img src="{% static 'images/partner-logo-1-dark.png' %}" alt="" class="nk-img" width="200">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="nk-box-2 nk-box-line">
                        <a href="#">
                            <img src="{% static 'images/partner-logo-2-dark.png' %}" alt="" class="nk-img" width="200">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="nk-box-2 nk-box-line">
                        <a href="#">
                            <img src="{% static 'images/partner-logo-3-dark.png' %}" alt="" class="nk-img" width="200">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="nk-box-2 nk-box-line">
                        <a href="#">
                            <img src="{% static 'images/partner-logo-4-dark.png' %}" alt="" class="nk-img" width="200">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="nk-box-2 nk-box-line">
                        <a href="#">
                            <img src="{% static 'images/partner-logo-5-dark.png' %}" alt="" class="nk-img" width="200">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="nk-box-2 nk-box-line">
                        <a href="#">
                            <img src="{% static 'images/partner-logo-6-dark.png' %}" alt="" class="nk-img" width="200">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Partners -->
{% endblock %}